### Define variables

In [119]:
a = b = c = 3
print(a)
print(b)
print(c)
print(a,b,c)

3
3
3
3 3 3

In [193]:
k = "Hello"
j = k 
n = k * 3
print(k,j)
print(n)

Hello Hello
HelloHelloHello

### String concatenation

In [97]:
p = 'Good Morning'
print(k+p)
print(k + ',' + p)

HelloGood Morning
Hello,Good Morning

In [95]:
print(k,end=',')
print(p)

Hello,Good Morning

In [124]:
print(k,p,sep=',')

Hello,Good Morning

In [98]:
print(("{},{}".format(k,p)))

Hello,Good Morning

### Add new line in string

In [77]:
String1 = 'Geeks\nFor\nLife'
print(String1)

Geeks
For
Life

### Various string functions

In [108]:
# access string characters
string1 = ("{},{}".format(k,p))
print(string1)
print(string1[0])
print(string1[0:5])
print(string1[-1])
print(string1[-7:-1])
print(string1[-7:len(string1)])

Hello,Good Morning
H
Hello
g
Mornin
Morning

In [116]:
# find length of string
print(len(string1))

# convert string in lower case
print(string1.lower())

# convert string in upper case
print(string1.upper())

# replace string characters
print(string1.replace('Morning','Afternoon'))

18
hello,good morning
HELLO,GOOD MORNING
Hello,Good Afternoon

In [118]:
# split string characters
s = string1.split(',')
print(s)
print(type(s))

['Hello', 'Good Morning']
<class 'list'>

In [250]:
# String Replace
str_1 = "Good morning"
print(str_1)
print(str_1.replace('morning' ,'afternoon'))

Good morning
Good afternoon

In [256]:
# String Reverse
str_2 = 'Pravin'
print(''.join(reversed(str_2)))

nivarP

### Creating a List and use various functions

In [126]:
# create list
list_1 =[]
print(list_1)

[]

In [164]:
list_1 = [1,2,'Pravin',3.5,'Yes']
list_2 = ['Good','Morning',list_1]
print(list_1)
print(list_2)

[1, 2, 'Pravin', 3.5, 'Yes']
['Good', 'Morning', [1, 2, 'Pravin', 3.5, 'Yes']]

In [165]:
# Adding element in list on specific Position by using insert
list_1.insert(2,'Hi')
list_1

[1, 2, 'Hi', 'Pravin', 3.5, 'Yes']

In [239]:
# sum list of elements
num_list_1 = [5,2,1,8]
print(sum(num_list_1))

16

In [166]:
# Access element from Multi-Dimensional List
print(list_2)
print(list_2[0][0])
print(list_2[1][0])
print(list_2[2][1])
print(list_2[2][3])

['Good', 'Morning', [1, 2, 'Hi', 'Pravin', 3.5, 'Yes']]
G
M
2
Pravin

In [167]:
# Access elemest from list by range or slice function
print(list_1[2:4])
print(list_1[2:])

['Hi', 'Pravin']
['Hi', 'Pravin', 3.5, 'Yes']

In [ ]:
# Update list

In [168]:
# Removing elements from list specific Position by using remove
list_1.remove(2)
print(list_1)

[1, 'Hi', 'Pravin', 3.5, 'Yes']

In [169]:
# Removing last elements from list by using pop
list_1.pop()
print(list_1)

[1, 'Hi', 'Pravin', 3.5]

In [177]:
# Sort elements from the list
list_3 = [10,5,25,9,4,15]
list_3.sort()
print(list_3)
list_3.sort(reverse=True)
print(list_3)

[4, 5, 9, 10, 15, 25]
[25, 15, 10, 9, 5, 4]

In [181]:
list_4 = ['Apple','Orange','Papaya','Cherry','Banana']
list_4.sort()
print(list_4)
list_4.sort(key=len,reverse=True)
print(list_4)

['Apple', 'Banana', 'Cherry', 'Orange', 'Papaya']
['Banana', 'Cherry', 'Orange', 'Papaya', 'Apple']

In [182]:
# Reverses the elements of list by using reverse
list_3.reverse()
print(list_3)

[4, 5, 9, 10, 15, 25]

In [188]:
# use max,min with list
print(max(list_3))
print(min(list_3))
print(max(list_4))
print(min(list_4))

25
4
Papaya
Apple

In [195]:
# Remove all elements from the list by using remove
list_5 = list_4
print(list_5)
list_5.clear()
print(list_5)

['Banana', 'Cherry', 'Orange', 'Papaya', 'Apple']
[]

### Create a Tuple and use various functions

In [214]:
tuple_0 = ('Good')
tuple_1 = ('Good',)
print(type(tuple_0))
print(type(tuple_1))

<class 'str'>
<class 'tuple'>

In [215]:
# Access elemest from tuple by range or slice function
tuple_2 = ('Apple','Orange','Papaya','Cherry','Banana')
print(tuple_2[2:5])

('Papaya', 'Cherry', 'Banana')

In [216]:
# Access element from Multi-Dimensional List
tuple_3 = (1,'Hi',5)
tuple_4 = (tuple_2,tuple_3)
print(tuple_4)
print(tuple_4[0][1])
print(tuple_4[1][1])

(('Apple', 'Orange', 'Papaya', 'Cherry', 'Banana'), (1, 'Hi', 5))
Orange
Hi

In [217]:
# update tuple
tup_1 = ('Hi','Pravin')
print(tup_1)
tup_1 = ('Good','morning','Pravin')
print(tup_1)

('Hi', 'Pravin')
('Good', 'morning', 'Pravin')

In [218]:
# Concatenate Tuples
tup_5 = tuple_3 + tuple_4
print(tuple_3)
print(tuple_4)
print(tup_5)

(1, 'Hi', 5)
(('Apple', 'Orange', 'Papaya', 'Cherry', 'Banana'), (1, 'Hi', 5))
(1, 'Hi', 5, ('Apple', 'Orange', 'Papaya', 'Cherry', 'Banana'), (1, 'Hi', 5))

In [219]:
# Delete tuple
del tup_5

In [221]:
# Change tuple value
tuple_6 = (4, 2, 3, [6, 5])
print(tuple_6)
tuple_6[3][0] = 9
print(tuple_6)

(4, 2, 3, [6, 5])
(4, 2, 3, [9, 5])

In [222]:
# Convert tuple into list
tup_list = list(tuple_6)
print(type(tup_list))
print(tup_list)

<class 'list'>
[4, 2, 3, [9, 5]]

In [225]:
# Compare tuple
tup_1 = (1,2,3)
tup_2 = (1,2,4)
 
print (tup_1 == tup_2)
print (tup_1 < tup_2)
print (tup_1 > tup_2)

False
True
False

### Create a Dictionary and use various functions

In [227]:
# empty dictionary
dict_1 = {}
print(dict_1)

{}

In [228]:
dict_2 = {1: 'apple', 2: 'banana',3: 'orange'}
print(dict_2)

{1: 'apple', 2: 'banana', 3: 'orange'}

In [229]:
# Accessing Elements from Dictionary
print(dict_2[1])

apple

In [231]:
# Changing and Adding Dictionary elements
dict_2[2]='papaya'
print(dict_2)

{1: 'apple', 2: 'papaya', 3: 'orange'}

In [232]:
# Remove elements from Dictionary
dict_2.pop(2)
print(dict_2)

{1: 'apple', 3: 'orange'}

In [233]:
# Dictionary Built-in Functions
print(len(dict_2))

2

In [234]:
print(sorted(dict_2))

[1, 3]

In [235]:
# delete Dictionary
del dict_1

### Create a Set and use various functions

In [242]:
set_1 = {"apple", "banana", "cherry"}
print(set_1)

{'apple', 'banana', 'cherry'}

In [247]:
# check elements exists in set
print("orange" in set_1)
print('orange' not in set_1)

False
True

In [245]:
# check length of set
print(len(set_1))

3

In [246]:
# convert set into list
set_list = list(set_1)
print(type(set_list))
print(set_list)

<class 'list'>
['apple', 'banana', 'cherry']

In [ ]:
# delete set
del set_list